
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@* <h2>Current date @DateTime.Now Hi There</h2>

@{
    for(int a=0;a<10;a++)
    {
        <p>@a</p>
    }
    String[] name = {"yucsdc", "ychsd"};
    foreach (var item in name)
    {
        @item;
    }

} *@