@model Doctors
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div class="container ">
        
        <div class="row justify-content-center bg-grey pb-5" style="background-color: #f0f0f0; ">
            <h1 class="display-4 bg-primary text-white fw-bold">Welcome To The Clinic</h1>
            <div class="col-sm-4">
                <form class="d-grid text-start" asp-action="Index" asp-controller="Home" method="post">
                    <label asp-for="Name" >Enter name:</label>
                    
                    <input asp-for="ID" placeholder="Enter Id" class="form-control"/>
                    <span asp-validation-for="ID" class="text-danger"></span>
                    <br />
                    <label asp-for="Name" class="ml-0">Enter name:</label>
                    <input asp-for="Name" placeholder="Enter Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <br />
                    <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                        <option value="value">Select Gender</option>
                    </select>
                    <br/>
                    <input asp-for="Department" placeholder="Enter Department" class="form-control" />
                    <br />
                    <input asp-for="Salary" placeholder="Enter Salary" class="form-control" />
                    <br/>
                    <textarea asp-for="Description" class="form-control" rows="4" placeholder="Enter Description "></textarea>
                    <br />
                    <label asp-for="Married">Married: </label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Married" value="Yes" >
                        <label class="form-check-label" for="flexRadioDefault1">
                            Yes
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Married" value="No">
                        <label class="form-check-label" for="flexRadioDefault2">
                            No
                        </label>
                    </div>
                    <input asp-for="Email" class="form-control" placeholder="Enter mail" />
                    <span asp-validation-for="Email"></span>
                    <button type="submit" class="btn btn-outline-primary btm-block" >Submit</button>
                </form>

            </div>

        </div>

    </div>
    </div>
