@{
    ViewData["Title"] = "Home Page";
    // var emp = ViewData["myEmp"] as List<EmployeeModel>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* 
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
    </tr>
    @{
        foreach (var e in emp)
        {
            <tr>
                <td>@e.Id</td>
                <td>@e.Name</td>
                <td>@e.Age</td>
                <td>@e.Salary</td>
            </tr>
        }
    }
</table> *@