<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
        
    </startup>

    <!-- Please uncomment this section if the Target Framework of this application is v4.6.2 or lower, and Visual Studio 2019 or later is used for development.
    <runtime>
       <AppContextSwitchOverrides value="Switch.System.Activities.UseMD5ForWFDebugger=false" />
    </runtime>
    -->
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior" />
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior" name="ClassLibrary1.Service1">
                <endpoint address="ClassLibrary1" binding="netTcpBinding" bindingConfiguration=""
                    contract="ClassLibrary1.IService1" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080" />
                        <add baseAddress="net.tcp://localhost:8090" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
