<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="display:flex;background-color:bisque">
        <div>
            <h2>Razor</h2>
        </div>
        <div>
            <ul>
                <li>Home</li>
                <li>Contact</li>
                <li>About US</li>
            </ul>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>

    <footer></footer>
</body>
</html>
